@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.3rem;
}

.principal{
    max-height: 660px;
    background-color: #F3EED9;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgb(0 0 0 / 61%);
}

.contenedor{
    text-align: center;
    width: 700px;
    /* border: 3px solid red; */
}

.contenedor__titulo{
    font-size: 60px;
    margin-top: 0;
    color: #824936;
    line-height: 55px;
    font-weight: bold;
    font-family: 'Playfair Display Black';
}

.contenedor__subtitulo{
    letter-spacing: 10px;
    font-weight: 200;
    font-family: 'Roboto';
}

.contenido{
    display: flex;
    flex-direction: column;
}

.margen{
    margin: 0 auto;
    max-width: 1120px;
    width: 85%;
}

section{
    padding: 5em 0;
    box-shadow: inset -2px 4px 8px rgb(0 0 0 / 61%);
}

.seccion__primero--contenedortext{
    display: flex;
    color: #23424A;
}

.seccion__primero--texto + .seccion__primero--texto{
    margin-left: 4em;
}

.seccion__primero--subtitulo{
    color: #824936;
    text-align: center;
}

.seccion__segundo{
    background: #222C2A;
}

.contenedor__seccion--segundo{
    display: flex;
    color: #fff;
}

img{
    width: 100%;
}

.seccion__segundo--contenedortext{
    margin-right: 6em;
    line-height: 35px;
}

.seccion__tercero{
    background-color: #824936;
    color: #fff;
}

.contenedor__seccion--tercero{
    display: flex;
}

.seccion__tercero--contenedortext{
    margin-left: 3em;
}