html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.codepen{
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
}

.codepen >*{
  border: 1px solid black;
}

.pen{
  background-color: black;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  padding: 1em;
  align-items: center;
  gap: 10px;
  border-bottom: 5px solid #343436;
}

.button {
  padding: 10px;
  cursor: pointer;
  background-color: #343436;
  border: 0;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

.button--dirty:before{
  display: block;
  content: '';
  height: 2px;
  width: calc(100% - 6px);
  background-color: #ffc600;
  position: absolute;
  top: 3px;
  left: 3px;
}

.button--small{
  font-size: 12px;
  padding: 4px;
}

.code{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #1b2b34;
  color: #fff;
}

.editor{
  display: grid;
  grid-template-rows: auto 1fr;
}

.editor__header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.editor__code{
  display: grid;
  grid-template-columns: auto 1fr;
}

.editor__number{
  display: block;
  padding: 0 10px;
}

.editor__settings{
  padding: 4px;
}

.editor__input{
resize: none;
  background: none;
  border: 0;
  color: grey;
  font-size: 16px;
  line-height: 1.4;

}

.preview{
  display: grid;
}

.settings{
  background-color: black;
  border-top: 1px solid grey;
  padding: 5px;
}